.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

body {
    color: $black;
}

h1 {
    font-size: 2.125rem;
}

ul {
    list-style: none;
}

h3 {
    font-size: 0.875rem;
}

img {
    max-width: 100%;
}

button {
    background-color: $beige;
    color: $black;
    border: none;
    border-radius: 12px;
    padding: 15px 20px;
    font-family: $bodyFont;
    cursor: pointer;
}