// html {
//     cursor: url(../assets/cursor.png), auto;

//     a:hover {
//         cursor: url(../assets/cursor.png), auto;
//         ;
//     }

//     a:active {
//         cursor: url(../assets/cursor.png), auto;
//     }

//     button:hover {
//         cursor: url(../assets/cursor.png), auto;
//     }
// }

.wrapper {
    max-width: 1200px;
    width: 75%;
    margin: 0 auto;
}

body {
    color: $black;
}

h1 {
    font-size: 35px;
    font-family: $headingFont;
}

h2 {
    text-transform: uppercase;
}

ul {
    list-style: none;
}

h3 {
    font-size: 0.875rem;
}

img {
    max-width: 100%;
}

p {
    line-height: 25px;
}

button {
    background-color: $beige;
    color: $black;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    font-family: $bodyFont;
    text-transform: uppercase;
    transition-duration: 0.4s;
}

button:hover {
    background-color: $orange;
    color: white;
}