footer {
    background-color: $black;
    height: 200px;
}

footer i {
    color: white;
    padding-right: 10px;
}

footer a {
    color: white;
}

footer .navLeft {
    padding: 0;
    display: flex;
}

footer .mainNav {
    display: flex;
    justify-content: left;
    padding: 65px 0 0;

    li {
        padding-right: 15px;
    }
}

.iconContainer {
    display: flex;
    justify-content: left;
}

.footerNav {
    display: flex;
    justify-content: space-between;
}

.footerLogo {
    margin-top: 60px;

    img {
        width: 60px;
        margin-top: 20px;
    }
}

.footer2 p {
    display: flex;
    justify-content: center;
    background-color: $black;
    color: white;
    font-size: 12px;
    padding: 20px 0;
}