.headerHome {
    background-image: url('../../../assets/pexels-karolina-grabowska-pinklaptop.jpg');
    height: 100vh;
    background-position: 60% 50%;
    background-size: cover;
}

.headerContact {
    background-image: url('../../../assets/pexels-karolina-grabowska-7291997.jpeg');
    height: 120vh;
    background-size: cover;
    background-repeat: no-repeat;
}