.headerHome {
    background-image: url('../../../assets/pexels-karolina-grabowska-pinklaptop.png');
    height: 100vh;
    background-position: 60% 50%;
    background-size: cover;
}

.headerAbout {
    height: 20vh;
}

.headerContact {
    height: 20vh;
}

.headerPortfolio {
    height: 20vh;
}