// INDEX/HOMEPAGE

// @media (min-width: 1050px) {

//     .sideNav {
//         display: none;
//     }
// }

@media (min-width: 1050px) {

    .hamburgerMenu {
        display: block;
        margin-right: 20px;
        border: none;
        background-color: transparent;
    }

    .sideNav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 100;
        top: 0;
        left: -100%;
        background-color: $beige;
        overflow-x: hidden;
        transition: 0.5s;
        border: 1px solid $darkbeige;
        padding: 90px 0;
        text-align: center;
    }

    .sideNav.active {
        left: 0;
        width: 300px;
        transition: 0.5s;
    }

    .sideNav a {
        padding: 20px;
        text-decoration: none;
        font-size: 16px;
        text-transform: uppercase;
        color: $black;
        display: block;
        transition: 0.4s;
        border-bottom: 1px solid $darkbeige;
    }

    .sideNav a:hover {
        font-family: $headingFont;
    }

    .sideNav .closeBtn {
        border: none;
        color: $black;
        background-color: $beige;
        position: absolute;
        top: 2px;
        right: 10px;
        font-size: 40px;
    }

    .closeBtn:hover {
        color: $green;
    }

    // .navLeft,
    // .navRight {
    //     display: none;
    // }

    // .mainNav {
    //     display: flex;
    //     justify-content: center;
    // }

    .logo {
        display: flex;
    }

}