.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    background-color: white;
    color: black;
    z-index: 10;

    &:focus {
        left: 0;
    }
}

a {
    color: $black;
    text-decoration: none;
}

.hamburgerMenu {
    background-color: transparent;
    color: $black;
    font-size: 23px;
    padding: 0;
}

.hamburgerMenu:hover {
    background-color: transparent;
    color: $blush;
}

.navigationContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.sideNav {
    text-transform: uppercase;

    ul {
        display: flex;
        flex-direction: column;
        // justify-content: right;
    }
}

.logo {
    width: 70px;
}

.closeBtn i {
    color: $black;
}

.closeBtn i:hover {
    color: $blush;
}


// .navRight {
//     display: flex;

//     li {
//         padding-left: 30px;
//     }
// }