.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    background-color: white;
    color: black;
    z-index: 10;

    &:focus {
        left: 0;
    }
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.navigationContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.mainNav {
    text-transform: uppercase;

    ul {
        display: flex;
        justify-content: right;
    }
}

.logo {
    width: 80px;
}


.navRight {
    display: flex;

    li {
        padding-left: 30px;
    }
}