.headerTitle {
    margin-bottom: 0;
    font-size: 45px;
}

.headerSubTitle {
    margin-top: 10px;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.aboutSection {
    margin: 140px 0px;
}

.aboutMeTitle::after {
    content: url(../assets/element1.png);
    display: inline-block;
    padding-left: 15px;
}

.aboutContainer {
    display: flex;
    justify-content: space-between;
}

.aboutMe2 {
    display: flex;
    justify-content: right;
    width: 50%;
}

.aboutMe1 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.recentWorkSection {
    // background-image: url(../../../assets/pexels-content-pixie-3554239.jpg);
    // background-position: 90% 30%;
    // background-size: cover;
    background-color: $beige;
    padding: 30px 0 80px;
}

.wrapperRW {
    width: 65%;
    margin: 0 auto;
}

.recentWorkH2::before {
    content: url(../../../assets/element1.png);
    display: inline-block;
    align-items: right;
    padding-right: 15px;
}

.recentWorkPreviews {
    display: flex;
    justify-content: space-between;
}

.preview {
    border: $darkbeige 1px solid;
    margin: 25px 0;
}

.preview:hover {
    opacity: 0.9;
}

.rwbuttonContainer {
    display: flex;
    justify-content: right;
}

.rwButton {
    background-color: $orange;
    transition-duration: 0.4s;
    margin-top: 20px 0;
    color: $black;
}

.rwButton:hover {
    background-color: $black;
}

.indexContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px 0;
}