.headerTitle {
    margin-bottom: 0;
    font-size: 45px;
}

.headerSubTitle {
    margin-top: 10px;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.aboutSection {
    margin: 140px 0px;
}

.aboutMeTitle::before {
    content: url(../assets/element1.png);
    display: inline-block;
    padding-right: 10px;
}

.aboutContainer {
    display: flex;
    justify-content: space-between;
}

.aboutMe2 {
    display: flex;
    justify-content: right;
    width: 50%;
}

.aboutMe1 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.recentWorkSection {
    background-image: url(../../../assets/pexels-content-pixie-3554239.jpg);
    background-position: 90% 30%;
    background-size: cover;
    height: 95vh;
    padding: 70px 0px;
}

.wrapperRW {
    width: 65%;
    margin: 0 auto;
}

.recentWorkH2 {
    display: flex;
    justify-content: right;
}

.recentWorkPreviews {
    display: flex;
    justify-content: space-between;
}

.preview {
    border: $darkbeige 1px solid;
    margin: 25px 0;
}

.preview:hover {
    opacity: 0.9;
}

.rwbuttonContainer {
    display: flex;
    justify-content: right;
}

.rwButton {
    transition-duration: 0.4s;
    margin-top: 10px;
}

.rwbuttonContainer .rwButton:hover {
    background-color: $orange;
    color: white;
}

.indexContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 120px 0;
}