.headerTitle {
    margin-bottom: 0;
    font-size: 45px;
    text-transform: uppercase;
}

.headerSubTitle {
    margin-top: 10px;
    font-size: 20px;
    text-transform: uppercase;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 105px;
}

.aboutSection {
    margin: 80px 0px;
}

.aboutMeTitle {
    // content: url(../assets/element1.png);
    display: inline-block;
    // padding-left: 15px;
    // margin-top: 57px;
    border-bottom: 1px $lightgrey solid;
    width: 130%;
    z-index: 100;
}

.aboutContainer {
    display: flex;
    justify-content: space-between;
}

.aboutMe2 {
    display: flex;
    justify-content: right;
    width: 50%;
}

.aboutMe1 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.recentWorkSection {
    background-image: url('../../../assets/pexels-karolina-grabowska-8092309.jpeg');
    // background-color: $lightgrey;
    padding: 20px 0 90px;
}

.wrapperRW {
    width: 65%;
    margin: 0 auto;
}

.recentWorkH2 {
    display: inline-block;
    text-align: center;
    padding-right: 15px;
    border-bottom: 1px $lightgrey solid;
    width: 100%;
}

.recentWorkPreviews {
    display: flex;
    justify-content: space-between;
}

.preview {
    border: $lightgrey 1px solid;
    margin: 25px 0;
}

.preview:hover {
    opacity: 0.9;
}

.rwbuttonContainer {
    display: flex;
    justify-content: right;
}

.rwButton {
    margin-top: 20px 0;
}

.rwButton:hover {
    background-color: $black;
}

.contactIntroSection {
    background-image: url('../../../assets/pexels-karolina-grabowska-7291997.jpeg');
    height: 90vh;
    background-position: top;
    background-size: cover;
}

.indexContact {
    display: inline-block;
    flex-direction: column;
    margin-top: 240px;
    border-top: 1px solid $beige;
    width: 75%;
}

.contactIntro,
.h2IntroContact {
    margin-left: 65px;
}