.formSection {
    height: 80vh;
}

.formH2 {
    text-align: center;
    border-bottom: 1px $lightgrey solid;
    padding-bottom: 10px;
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
}

form button {
    width: 10%;
    margin-top: 20px;
}

input {
    border: 1px solid $black;
    width: 50%;
    margin-top: 10px;
}

textarea {
    border: 1px solid $black;
    width: 50%;
    margin-top: 10px;
    resize: none;
}

label {
    margin-top: 30px;
}