.formContainer {
    display: flex;
    justify-content: space-between;
    background-image: url('../../../assets/pexels-karolina-grabowska-7291988.jpeg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80vh;
    margin-bottom: 20vh;
}

.formSection {
    height: 100vh;
    width: 50%;
}

// .contactImgContainer {
//     width: 50%;
// }

// .contactFlowers {
//     height: 100vh;
// }

.formH2 {
    border-bottom: 1px $lightgrey solid;
    padding-bottom: 10px;
    width: 90%;
}

form {
    display: flex;
    flex-direction: column;
}

.formBtn {
    width: 15%;
    margin-top: 20px;
    text-align: center;
}

input {
    border: 1px solid $black;
    width: 90%;
    margin-top: 10px;
    padding: 6px 0;
}

textarea {
    border: 1px solid $black;
    width: 90%;
    margin-top: 10px;
    resize: none;
    padding: 10px 0;
}

label {
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 14px;
}