.portfolioPg {
    background-color: $lightgrey;
}

.row1Projects,
.row2Projects {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 90px;
}

.projectContainer1,
.projectContainer2,
.projectContainer3,
.projectContainer4 {
    background-color: white;
    width: 50%;
    padding: 50px;
    margin: 20px;
    border-radius: 10px;
}

.portfolioH1 {
    text-align: center;
    margin-top: 50px;
}

.portfolioIntroP {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.portfolioImg {
    border: 1px solid $darkbeige;
}

.portfolioBtn a {
    color: white;
}

.btnContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 0 90px;
}