html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  letter-spacing: 2px;
}

.wrapper {
  max-width: 1200px;
  width: 75%;
  margin: 0 auto;
}

body {
  color: #2B2D2B;
}

h1 {
  font-size: 35px;
  font-family: "Libre Bodoni";
}

h2 {
  text-transform: uppercase;
  font-family: "Libre Bodoni";
}

ul {
  list-style: none;
}

h3 {
  font-size: 0.875rem;
}

img {
  max-width: 100%;
}

p {
  line-height: 25px;
}

button {
  background-color: #b76760;
  font-size: 15px;
  color: white;
  border: 1px solid #C4BAB1;
  padding: 10px 15px;
  font-family: "Montserrat";
  text-transform: uppercase;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

button:hover {
  background-color: #2B2D2B;
  color: white;
}

.headerHome {
  background-image: url("../../../assets/pexels-karolina-grabowska-pinklaptop.png");
  height: 100vh;
  background-position: 60% 50%;
  background-size: cover;
}

.headerContact {
  height: 20vh;
}

.headerPortfolio {
  height: 20vh;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  background-color: white;
  color: black;
  z-index: 10;
}
.skip-link:focus {
  left: 0;
}

a {
  color: #2B2D2B;
  text-decoration: none;
}

.hamburgerMenu {
  background-color: transparent;
  color: #2B2D2B;
  font-size: 23px;
  padding: 0;
}

.hamburgerMenu:hover {
  background-color: transparent;
  color: #b76760;
}

.navigationContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}

.sideNav {
  text-transform: uppercase;
}
.sideNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo {
  width: 70px;
}

.closeBtn i {
  color: #2B2D2B;
}

.closeBtn i:hover {
  color: #b76760;
}

footer {
  background-color: #2B2D2B;
  height: 150px;
}

footer i {
  color: white;
  padding-right: 12px;
  margin: 0;
}

footer a {
  color: white;
}

footer .navLeft {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 80px 0 0;
}
footer .mainNav li {
  padding-right: 15px;
}

.iconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.footerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  text-transform: uppercase;
}

.footerLogo {
  margin-top: 60px;
}
.footerLogo img {
  width: 60px;
  margin-top: 20px;
}

.footer2 p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2B2D2B;
  color: white;
  font-size: 12px;
  padding: 30px 0;
  margin: 0;
}

@media (min-width: 1050px) {
  .hamburgerMenu {
    display: block;
    margin-right: 20px;
    border: none;
    background-color: transparent;
  }
  .sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: -100%;
    background-color: #D7CECC;
    overflow-x: hidden;
    -webkit-transition: 0.7s;
    transition: 0.7s;
    border: 1px solid #C4BAB1;
    padding: 90px 0;
    text-align: center;
  }
  .sideNav.active {
    left: 0;
    width: 300px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  .sideNav a {
    padding: 20px;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    color: #2B2D2B;
    display: block;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    border-bottom: 1px solid #C4BAB1;
  }
  .sideNav a:hover {
    font-family: "Libre Bodoni";
  }
  .sideNav .closeBtn {
    border: none;
    color: #2B2D2B;
    background-color: #D7CECC;
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 40px;
  }
  .closeBtn:hover {
    color: #b76760;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.headerTitle {
  margin-bottom: 0;
  font-size: 45px;
  text-transform: uppercase;
}

.headerSubTitle {
  margin-top: 10px;
  font-size: 20px;
  text-transform: uppercase;
}

.titleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 105px;
}

.aboutSection {
  margin: 80px 0px;
}

.aboutMeTitle {
  display: inline-block;
  border-bottom: 1px #e0e1e3 solid;
  width: 130%;
  z-index: 100;
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutMe2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 50%;
}

.aboutMe1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.recentWorkSection {
  background-image: url("../../../assets/pexels-karolina-grabowska-8092309.jpeg");
  padding: 20px 0 90px;
}

.wrapperRW {
  width: 65%;
  margin: 0 auto;
}

.recentWorkH2 {
  display: inline-block;
  text-align: center;
  padding-right: 15px;
  border-bottom: 1px #e0e1e3 solid;
  width: 100%;
}

.recentWorkPreviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.preview {
  border: #e0e1e3 1px solid;
  margin: 25px 0;
}

.preview:hover {
  opacity: 0.9;
}

.rwbuttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.rwButton {
  margin-top: 20px 0;
}

.rwButton:hover {
  background-color: #2B2D2B;
}

.contactIntroSection {
  background-image: url("../../../assets/pexels-karolina-grabowska-7291997.jpeg");
  height: 90vh;
  background-position: top;
  background-size: cover;
}

.indexContact {
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 240px;
  border-top: 1px solid #D7CECC;
  width: 75%;
}

.contactIntro,
.h2IntroContact {
  margin-left: 65px;
}

.formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url("../../../assets/pexels-karolina-grabowska-7291988.jpeg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  height: 80vh;
  margin-bottom: 20vh;
}

.formSection {
  height: 100vh;
  width: 50%;
}

.formH2 {
  border-bottom: 1px #e0e1e3 solid;
  padding-bottom: 10px;
  width: 90%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.formBtn {
  width: 15%;
  margin-top: 20px;
  text-align: center;
}

input {
  border: 1px solid #2B2D2B;
  width: 90%;
  margin-top: 10px;
  padding: 6px 0;
}

textarea {
  border: 1px solid #2B2D2B;
  width: 90%;
  margin-top: 10px;
  resize: none;
  padding: 10px 0;
}

label {
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 14px;
}

.aboutSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 140px;
}

.aboutContent {
  width: 50%;
}

.aboutH1 {
  position: relative;
  top: 90px;
  left: -70px;
  font-size: 45px;
}

.aboutMeP {
  margin-top: 115px;
}

.skillLists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom: 1px solid #e0e1e3;
  width: 80%;
  margin: 0 auto;
}

.skills1, .skills2, .skills3, .skills4 {
  padding-left: 0;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0;
}

.skillsH2 {
  text-align: center;
  border-bottom: 1px solid #e0e1e3;
  padding-bottom: 10px;
  width: 80%;
  margin: 0 auto;
}

.aboutImg2 {
  margin: 150px 0 80px;
}