html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  letter-spacing: 2px;
}

.wrapper {
  max-width: 1200px;
  width: 75%;
  margin: 0 auto;
}

body {
  color: #2B2D2B;
}

h1 {
  font-size: 35px;
  font-family: "Libre Bodoni";
}

h2 {
  text-transform: uppercase;
  font-family: "Libre Bodoni";
}

ul {
  list-style: none;
}

h3 {
  font-size: 0.875rem;
}

img {
  max-width: 100%;
}

p {
  line-height: 30px;
  font-size: 18px;
}

a:hover {
  color: #b76760;
}

button {
  background-color: #b76760;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: 1px solid #C4BAB1;
  padding: 10px 15px;
  font-family: "Montserrat";
  text-transform: uppercase;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

button:hover {
  background-color: #2B2D2B;
  color: white;
}

.headerHome {
  background-image: url("../../../assets/pexels-karolina-grabowska-pinklaptop.jpg");
  height: 100vh;
  background-position: 60% 50%;
  background-size: cover;
}

.headerContact {
  background-image: url("../../../assets/pexels-karolina-grabowska-7291997.jpeg");
  height: 120vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  background-color: white;
  color: black;
  z-index: 10;
}
.skip-link:focus {
  left: 0;
}

a {
  color: #2B2D2B;
  text-decoration: none;
}

.hamburgerMenu {
  display: block;
  margin-right: 20px;
  border: none;
  background-color: transparent;
  color: #2B2D2B;
  font-size: 23px;
  padding: 0;
}

.sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: -100%;
  background-color: #D7CECC;
  overflow-x: hidden;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  border: 1px solid #C4BAB1;
  padding: 90px 0;
  text-align: center;
}

.sideNav.active {
  left: 0;
  width: 300px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.sideNav a {
  padding: 20px;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  color: #2B2D2B;
  display: block;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border-bottom: 1px solid #C4BAB1;
}

.sideNav a:hover {
  font-family: "Libre Bodoni";
}

.sideNav .closeBtn {
  border: none;
  color: #2B2D2B;
  background-color: #D7CECC;
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 40px;
}

.hamburgerMenu:hover {
  background-color: transparent;
  color: #b76760;
  cursor: pointer;
}

.navigationContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}

.sideNav {
  text-transform: uppercase;
  margin-top: 0;
}
.sideNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo {
  width: 60px;
}

.closeBtn i {
  color: #2B2D2B;
}

.closeBtn i:hover {
  color: #b76760;
  cursor: pointer;
}

footer {
  background-color: #2B2D2B;
  height: 150px;
}

footer i {
  color: white;
  padding-right: 12px;
  margin: 0;
}

footer a {
  color: white;
}

footer .navLeft {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 50px 0 0;
}
footer .mainNav li {
  padding-right: 15px;
}

.iconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.footerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  text-transform: uppercase;
}

.footerLogo img {
  width: 60px;
  margin-top: 50px;
}

.footer2 p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2B2D2B;
  color: white;
  font-size: 14px;
  padding: 30px 0;
  margin: 0;
}

@media (max-width: 1050px) {
  .aboutContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 610px) {
  .aboutSection .about1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    top: 0;
    left: 0;
    height: 0vh;
  }
}
.headerTitle {
  margin-bottom: 0;
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
}

.headerSubTitle {
  margin: 10px 0 10px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

.titleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 4%;
  -webkit-animation: slide-down 2s forwards;
          animation: slide-down 2s forwards;
  width: 100%;
}

@-webkit-keyframes slide-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
.aboutSection {
  margin: 80px 0px;
}

.aboutMeTitle {
  display: inline-block;
  text-transform: none;
  font-size: 30px;
  margin: 0;
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutMe1 {
  position: relative;
  top: 65px;
  left: 100px;
  border: 1px solid #C4BAB1;
  background-color: white;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  width: 400px;
  height: 400px;
  z-index: 10;
}

.aboutMe2 {
  position: relative;
  right: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 60%;
  -webkit-animation: slide-left 4s forwards;
          animation: slide-left 4s forwards;
}

@-webkit-keyframes slide-left {
  from {
    opacity: 0;
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes slide-left {
  from {
    opacity: 0;
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
.wrapperIndex {
  width: 70%;
  margin: 0 auto;
}

.aboutButton {
  margin-top: 10px;
}

.iconContainerIndex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.iconContainerIndex i {
  padding-left: 10px;
}

.formSection {
  height: 100vh;
  width: 50%;
  -webkit-animation: slide-down 1s forwards;
          animation: slide-down 1s forwards;
}

@keyframes slide-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
.formH2 {
  border-bottom: 1px #e0e1e3 solid;
  padding-bottom: 10px;
  width: 90%;
  margin-top: 70px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.formBtn {
  width: 15%;
  margin-top: 10px;
  text-align: center;
}

input {
  border: 1px solid #2B2D2B;
  width: 90%;
  margin-top: 10px;
  padding: 6px 0;
}

textarea {
  border: 1px solid #2B2D2B;
  width: 90%;
  height: 90px;
  margin-top: 10px;
  resize: none;
  padding: 10px 0;
}

label {
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 14px;
}

.required {
  font-size: 14px;
}

.aboutSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 140px;
}

.aboutContent {
  width: 50%;
}

.aboutH1 {
  position: relative;
  top: 90px;
  left: -68px;
  font-size: 45px;
}

.aboutMeP {
  margin-top: 115px;
}

.skillLists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
}

.skills1,
.skills2,
.skills3,
.skills4 {
  padding-left: 0;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0;
}

.skillsH2 {
  text-align: center;
  padding-bottom: 10px;
  width: 80%;
  margin: 0 auto;
}

.aboutImg2 {
  margin: 130px 0 80px;
}

.portrait {
  border: 1px solid #C4BAB1;
}

.portfolioPg {
  background-color: #e0e1e3;
}

.row1Projects,
.row2Projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0 90px;
}

.projectContainer1,
.projectContainer2,
.projectContainer3,
.projectContainer4 {
  background-color: white;
  width: 50%;
  padding: 50px;
  margin: 20px;
  border-radius: 10px;
}

.portfolioH1 {
  text-align: center;
  margin-top: 50px;
}

.portfolioIntroP {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.portfolioImg {
  border: 1px solid #C4BAB1;
}

.portfolioBtn a {
  color: white;
}

.btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 90px;
}