html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  letter-spacing: 2px;
}

html {
  cursor: url(../assets/cursor.png), auto;
}
html a:hover {
  cursor: url(../assets/cursor.png), auto;
}
html a:active {
  cursor: url(../assets/cursor.png), auto;
}
html button:hover {
  cursor: url(../assets/cursor.png), auto;
}

.wrapper {
  max-width: 1200px;
  width: 75%;
  margin: 0 auto;
}

body {
  color: #2B2D2B;
}

h1 {
  font-size: 2.125rem;
}

h2 {
  text-transform: uppercase;
}

ul {
  list-style: none;
}

h3 {
  font-size: 0.875rem;
}

img {
  max-width: 100%;
}

p {
  line-height: 25px;
}

button {
  background-color: #D7CECC;
  color: #2B2D2B;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  font-family: "Montserrat";
  text-transform: uppercase;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

button:hover {
  background-color: #C39879;
  color: white;
}

.headerHome {
  background-image: url("../assets/websitebkgd.jpg");
  height: 100vh;
  background-size: cover;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  background-color: white;
  color: black;
  z-index: 10;
}
.skip-link:focus {
  left: 0;
}

a {
  color: #2B2D2B;
  text-decoration: none;
}

.navigationContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}

.mainNav {
  text-transform: uppercase;
}
.mainNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  cursor: url(../assets/cursor.png), auto;
}

.logo {
  width: 80px;
}

.navRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navRight li {
  padding-left: 30px;
}

@media (min-width: 1050px) {
  .hamburgerMenu {
    display: none;
    background-color: none;
  }
  .sideNav {
    display: none;
  }
}
@media (max-width: 1050px) {
  .hamburgerMenu {
    display: block;
    margin-right: 20px;
    border: none;
    background-color: transparent;
  }
  .sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: -100%;
    background-color: black;
    overflow-x: hidden;
    padding-top: 60px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .sideNav.active {
    left: 0;
    width: 250px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .sideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    color: grey;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .sideNav a:hover {
    color: blue;
  }
  .sideNav .closeBtn {
    border: none;
    color: red;
    background-color: black;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
    cursor: pointer;
  }
  .navLeft, .navRight {
    display: none;
  }
  .mainNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.headerTitle {
  margin-bottom: 0;
  font-size: 40px;
}

.headerSubTitle {
  margin-top: 10px;
}

.titleContainer {
  position: absolute;
  top: 134px;
  right: 462px;
  z-index: 10;
}

.aboutSection {
  margin: 140px 0px;
}

.paintStroke {
  position: absolute;
  top: 175px;
  right: 78px;
  width: 500px;
}

.aboutMeTitle::before {
  content: url(../assets/element1.png);
  display: inline-block;
  padding-right: 10px;
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutMe2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 50%;
}

.aboutMe1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.recentWorkSection {
  background-color: #D7CECC;
  height: 87%;
  padding: 60px 0px;
}

.recentWorkH2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recentWorkPreviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.recentWorkPreviews a:hover img {
  opacity: 1;
  -webkit-animation: flash 2.5s;
  animation: flash 2.5s;
}
@-webkit-keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.preview {
  border: #C4BAB1 1px solid;
  margin: 30px;
}

.rwbuttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rwButton {
  background-color: white;
  border: #C4BAB1 1px solid;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.rwbuttonContainer .rwButton:hover {
  background-color: #C39879;
  color: white;
}